{% extends 'todoapp/base.html' %}

{% block content %}
    <h2>View and Update Todo</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="submit">Save</button>
    </form>
    <br><form method="POST" action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}
        <button class="submit">Delete</button>
    </form>
    <br><form method="POST" action="{% url 'completetodo' todo.id %}">
        {% csrf_token %}
        <button class="submit">Mark Complete</button>
    </form>
{% endblock %}
